body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
    
    
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  h1, h2 {
    color: #290303;
  
  }
  
  .precaution {
    background-color: rgb(186, 218, 226);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    font-style: oblique;
    align-items: center;
  
  }
  
  .precaution img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .precaution-details h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
    line-height: 1.4;
  }